@font-face {
  font-family: "caviarDream";
  src: url(./tout/caviar_dreams/CaviarDreams.ttf);
}

@font-face {
  font-family: "caviarDreamItalic";
  src: url(./tout/caviar_dreams/CaviarDreams_Italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "caviarDream";
  scroll-behavior: smooth;
}

main {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: 300;
}
h3 {
  font-size: 20px;
  font-weight: 500;
}
h4 {
  font-size: 17px;
  font-weight: 350;
}

.svg {
  height: 75px;
}

.fleche {
  height: 50px;
  transition: 0.3s;
}

.fleche:hover {
  transition: 0.5s;
  transform: translateY(10px);
}

/* - - - - - - - - - - ACCUEIL - - - - - - - - - - */

.accueil {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./tout/images/fonds/fondAccueil.jpg);
  opacity: 0.9;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

.accueil::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.5;
  z-index: -1;
}

.accueilTexte {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes mvtFleche {
  0% {
    transform: translatey(80vh);
  }
  60% {
    transform: translatey(80vh);
  }
  70% {
    transform: translatey(81vh);
  }
  80% {
    transform: translatey(80vh);
  }
  90% {
    transform: translatey(81vh);
  }
  100% {
    transform: translatey(80vh);
  }
}

#flechea {
  position: absolute;
  animation: mvtFleche 2.5s ease-in-out infinite;
}

/* - - - - - - - - - - A PROPOS DE MOI - - - - - - - - - - */

.aProposDeMoi {
  min-height: 100vh;
  background: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appdmTitre {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.appdmCadre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.presentation {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#swann {
    height: 200px;
    width: auto;
    border-radius: 50%;

    border: solid 3px black;
}

#swannTexte {
    margin-top: 15px;
}

.photos {
    min-height: 270px;
    min-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 270px;
    min-width: 500px;

    grid-area: 1 / 2 / 2 / 3;
}

.photo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 270px;
    min-width: 500px;

    grid-area: 1 / 3 / 2 / 4;
}

.photo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 270px;
    min-width: 500px;

    grid-area: 2 / 2 / 3 / 3;
}

.photo4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 270px;
    min-width: 500px;

    grid-area: 2 / 3 / 3 / 4;
}

.appdmImg {
    width: 300px;
    height: auto;
    
    margin: 0;
    padding: 0;
    border: 15px solid #fff;
    border-bottom: 40px solid #fff;
    box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#batterie {
    rotate: -2deg;
}

#batterieTexte {
    rotate: -2deg;
    transform: translateY(-30px);
}

#minecraft {
    rotate: 3deg;
}

#minecraftTexte {
    rotate: 3deg;
    transform: translateY(-30px);
}

#skate {
    rotate: -1deg;
}

#skateTexte {
    rotate: -1deg;
    transform: translateY(-30px);
}

#a {
  rotate: -1deg;
}

#aTexte {
  rotate: -1deg;
  transform: translateY(-30px);
}

/* - - - - - - - - - - PARCOURS SCOLAIRE - - - - - - - - - - */

.parcoursScolaire {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(./tout/images/fonds/fondParcours.jpg);
  opacity: 0.8;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
  min-height: 100vh;
}

.parcoursScolaire::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #1d192c;
  opacity: 0.8;
  z-index: -1;
}

.parcoursScolaireTexte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  color: white;
}

.etapeParcours {
  max-width: 600px;
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  margin: 50px 0px;
}

/* #flecheps {
  display: flex;
} */

/* - - - - - - - - - - MES EXPERIENCES - - - - - - - - - - */

.mesExperiences {
  min-height: 100vh;
}

.mesExperiencesTexte {
  padding: 60px 80px;
}

/* - - - - - - - - - - MES COMPETENCES - - - - - - - - - - */

.mesCompetences {
  /* min-height: 100vh;
  display: flex;
  justify-content: center; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./tout/images/fonds/fondtest.jpg);
  opacity: 0.8;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.mesCompetences::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1d192c;
    opacity: 0.8;
    z-index: -1;
}

.mesCo {
  padding-bottom: 5vh;
  padding-left: 80px;
}

.competencesFleche {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mesCompetencesTexte {
  padding: 50px 0px;
}

.cadreCompetences {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blocCompetence {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 30px 50px;
  z-index: 0;

  background-color: #9b979771;
  border-radius: 10px;
  padding: 20px;
}

/* #flechemc {
  display: flex;
  justify-content: center;
} */

/* - - - - - - - - - - MES REALISATIONS - - - - - - - - - - */

.mesRealisations {
    min-height: 100vh;
    margin: 60px 80px;
}

.blocReal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 50px 1fr 50px;
}

.real {
  display: flex;

  /* border: solid 1px black; */
  margin: 20px;

  /* height: 100%; */
}

.textReal {
  z-index: -1;
  margin: 20px;
}

.infoReal {
  display: flex;
  justify-content: center;
}

#real1 {
  background-image: url(./tout/images/realisations/projet_particule.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000000;
}

#real2 {
  background-image: url(./tout/images/realisations/site_moustache.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#real3 {
  background-image: url(./tout/images/realisations/frontendmentor_challenge.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#real4 {
  background-image: url(./tout/images/realisations/pico_mino.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}

#real5 {
  background-image: url(./tout/images/realisations/);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#real6 {
  background-image: url(./tout/images/realisations/);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}

#real1:hover, #real2:hover, #real3:hover, #real4:hover, #real5:hover, #real6:hover {
  background: #ffffff00;
  /* transition: 0.5s; */
}

/* - - - - - - - - - - PROJET PROFESSIONNEL - - - - - - - - - - */

.projetProfessionnel {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./tout/images/fonds/fondProjetPro.jpg);
  opacity: 0.8;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.projetProfessionnel::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #1d192c;
  opacity: 0.8;
  z-index: -1;
}

.projetProfessionnelTexte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

.projetPro {
  width: 80vw;
  margin: 30px 80px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* #flechePro {
  display: flex;
} */

/* - - - - - - - - - - PROJET PERSONNEL - - - - - - - - - - */

.projetPersonnel {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(./tout/images/fonds/fondProjetPerso.jpg);
    opacity: 0.8;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    position: relative;
  }
  
  .projetPersonnel::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1d192c;
    opacity: 0.8;
    z-index: -1;
  }
  
  .projetPersonnelTexte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
  }
  
  .projetPerso {
    width: 80vw;
    margin: 30px 80px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

/* - - - - - - - - - - CONTACTS - - - - - - - - - - */

.titreContacts {
  padding-left: 80px;
}

.contacts {
  padding: 50px 00px;
}

.cadreContacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blocContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 50px;
}

/* #flechec {
  position: fixed;
  z-index: 4;
  right: 30px;
  bottom: 30px;
  transform: rotate(180deg);
  opacity: 0.5;
}

#flechec:hover {
  opacity: 1;
  transition: 1s;
} */

@media screen and (max-width: 900px) {
  body {
    display: none;
  }
}

@media screen and (min-height: 760px) {
  #flechePro {
    position: absolute;
    transform: translateY(80vh);
  }

  #flecheapdm {
    position: absolute;
    transform: translateY(38vh);
  }
}

@media screen and (min-height: 700px) {
  #flechemc {
    position: absolute;
    transform: translateY(70vh);
  }
}

@media screen and (min-height: 600px) {
  #flecheps {
    position: absolute;
    transform: translateY(80vh);
  }
}
