@font-face {
    font-family: "caviarDream";
    src: url(./tout/caviar_dreams/CaviarDreams.ttf);
}

@font-face {
    font-family: "caviarDreamItalic";
    src: url(./tout/caviar_dreams/CaviarDreams_Italic.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'caviarDream';
    scroll-behavior: smooth;
}

main {margin: 0; padding: 0;}
body {margin: 0; padding: 0;}
h1 {font-size: 50px; font-weight: 300;}
h2 {font-size: 30px; font-weight: 300;}
h3 {font-size: 20px; font-weight: 500;}
h4 {font-size: 17px; font-weight: 350;}

.svg {
    height: 75px;
}

.fleche {
    height: 50px;
    transition: 0.3s;
}

.fleche:hover {
    transition: 0.5s;
    transform: translateY(10px);
}

/* ACCUEIL */

.accueil {
    min-height: 100vh; /* unité qui fait 1/100e dela largeur de l'écran-> 100vh = largeur de l'écran*/
    display: flex;
    justify-content: center;
    background-image: url(./tout/images/fondAccueil.jpg);
    opacity: 0.9;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
}

.accueil::before { /* prend la largeur de l'écran */
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.5;
    z-index: -1;
}

.accueilTexte {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#flechea {
    position: absolute;
    transform: translateY(80vh);
}

/* A PROPOS DE MOI */

.aProposDeMoi {
    min-height: 100vh;
    background: #FFFAFA;
    display: flex;
    justify-content: center;
}

.aProposDeMoiTexte {
    padding: 50px 80px;
}

#flecheapdm { /* à changer plus tard */
    position: absolute;
    transform: translateY(80vh);
}

/* PARCOURS SCOLAIRE */

.parcoursScolaire {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image:url(./tout/images/fondParcours.jpg);
    opacity: 0.8;
    background-size: cover;
    background-attachment: fixed;
    
    position: relative;
    min-height: 100vh;
}

.parcoursScolaire::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1d192c;
    opacity: 0.8;
    z-index: -1;
}

.parcoursScolaireTexte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    color: white;
}

.etapeParcours {
    max-width: 600px;
    background: rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    margin: 50px 0px;
}

/* MES COMPETENCES */

.mesCompetences {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.mesCo {
    padding-bottom: 5vh;
    padding-left: 80px;
}

.mesCompetencesTexte {
    padding: 50px 0px;
}

.cadreCompetences {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blocCompetence {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 50px;
}

#flechemc {
    display: flex;
    justify-content: center;
}

/* #flechemcc {
    display: none;
}

@media screen and (min-width: 1216px){
    #flechemcc {
        position: absolute;
        transform: translateX(50vw) translateY(0%);
    }
} TROUVER UN MOYEN POUR QUE CE SOIT "MIEUX" */ 

/* PROJET PERSONNEL */

.projetPersonnel {
    display: flex;
    justify-content: center;
    background-image: url(./tout/images/fondProjetPerso.jpg);
    opacity: 0.9999999;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    position: relative;
    min-height: 100vh;
}

.projetPersonnel::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1d192c;
    opacity: 0.8;
    z-index: -1;
}

.projetPersonnelTexte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 80px;
}

.projetPerso {
    width: 80vw;
    margin: 30px 0px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* PROJET PROFESSIONNEL */

.projetProfessionnel {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(./tout/images/fondProjetPro.jpg);
    opacity: 0.8;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    position: relative;
}

.projetProfessionnel::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1d192c;
    opacity: 0.8;
    z-index: -1;
}

.projetProfessionnelTexte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;   
}

.projetPro {
    width: 80vw;
    margin: 30px 80px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* CONTACTS */

.titreContacts {
    padding-left: 80px;
}

.contacts {
    padding: 50px 00px;
}

.cadreContacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.blocContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 50px;
}

#flechec {
    position: absolute;
    transform: translateX(85vw) translateY(-5vh) rotate(180deg);
}
