/* - - - - - PARTIE COMPETENCE - - - - - */

.png {
    width: 220px;
  }
  
  .png1 {
    width: 133px;
  }
  
  .png2 {
    width: 208px;
  }
  
  .png3 {
    width: 220px;
    margin-bottom: 25px;
  }
  
  .png4 {
    width: 160px;
    margin-bottom: 14px;
  }
  
  .png5 {
    width: 150px;
  
  }
  
  .png6 {
    width: 240px;
    margin: 10px 0 10px 0;
  }