@font-face {
  font-family: "caviarDream";
  src: url(../tout/polices/caviar_dreams/CaviarDreams.ttf);
}

@font-face {
  font-family: "caviarDreamItalic";
  src: url(../tout/polices/caviar_dreams/CaviarDreams_BoldItalic.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "caviarDream";
  scroll-behavior: smooth;
}

main {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 17px;
  font-weight: 350;
}

.svg {
  height: 80px;
}

/* - - - - - - - - - - HEADER - - - - - - - - - - */

.forHeader {
  z-index: 1;
  top: 0;
  position: fixed;

  background-color: #000000;
  color: #fff;
}

#openHeader {
  z-index: 1;
  position: absolute;
  height: 50px;

  transform: translateX(calc(100vw - 80px)) translateY(15px);
}

header {
  /* display: none; */
  z-index: 1;
  position: fixed;
  top: 0;

  width: 100%;
  background-color: #000000;
  color: #fff;

  display: grid;
  grid-template-columns: 1fr 2fr;

  padding: 20px;
}

header a {
  color: white;
  margin: 20px;
}

#closeHeader {
  z-index: 1;
  position: absolute;
  height: 50px;
}

.div {
  transition: 0.2s;
}

.div:hover {
  color: #7a7e89;
  transition: 0.2s;
}

/* - - - - - - - - - - ACCUEIL - - - - - - - - - - */

.accueil {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../tout/images/fonds/fondAccueil.jpg);
  opacity: 0.9;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

.accueil::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.5;
  z-index: -1;
}

.accueilTexte {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* - - - - - - - - - - A PROPOS DE MOI - - - - - - - - - - */

.aProposDeMoi {
  min-height: 100vh;
  background: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appdmTitre {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.appdmCadre {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 50px 0 0;
  /* grid-template-rows: 1fr 1fr; */
}

.photoSwann {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-20vh);
}

#swann {
  height: 200px;
  width: auto;
  border-radius: 50%;

  border: solid 3px black;
}

.passionBatterie {
  display: flex;
  margin-top: 10px;
}

.passionSport {
  display: flex;
  transform: translateY(-30px);
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo1 {
  margin-left: 20px;
  transform: translateY(-7vh);
}

/* .photo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 270px;
    min-width: 500px;

    grid-area: 1 / 3 / 2 / 4;
}
*/

.photo3 {
  margin-right: 20px;
  transform: translateY(-7vh);
}

/*.photo4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 270px;
    min-width: 500px;

    grid-area: 2 / 3 / 3 / 4;
} */

.appdmImg {
  width: 300px;
  height: auto;

  margin: 0;
  padding: 0;
  border: 15px solid #fff;
  border-bottom: 40px solid #fff;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#appdmImg1 {
  rotate: -2deg;
}

#batterieTexte {
  rotate: -2deg;
  transform: translateY(-30px);
  display: flex;
  justify-content: center;
}

/* #appdmImg2 {
    rotate: 3deg;
}

#minecraftTexte {
    rotate: 3deg;
    transform: translateY(-30px);
}
*/

#appdmImg3 {
  rotate: 3deg;
}

#skateTexte {
  rotate: 3deg;
  transform: translateY(-30px);
  display: flex;
  justify-content: center;
}

/*#appdmImg4 {
  rotate: -1deg;
}

#aTexte {
  rotate: -1deg;
  transform: translateY(-30px);
} */

/* - - - - - - - - - - PARCOURS SCOLAIRE - - - - - - - - - - */

.parcoursScolaire {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../tout/images/fonds/fondParcours.jpg);
  opacity: 0.8;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
  min-height: 100vh;
}

.parcoursScolaire::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #1d192c;
  opacity: 0.8;
  z-index: -1;
}

.parcoursScolaireTexte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 0px 0px;
  color: white;
}

.etapeParcours {
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  margin: 50px 0px;
}

.dateParcours {
  position: absolute;
  right: 0;
  transform: translateX(calc(-40vw - 500px));
}

/* - - - - - - - - - - MES EXPERIENCES - - - - - - - - - - */

.mesExperiencesTexte {
  /* padding: 60px 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  color: white;
}

.experiences {
  max-width: 630px;
  text-align: center;
  margin: 50px 0px;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}

.experience:nth-child(1) {
  margin-bottom: 50px;
}

/* - - - - - - - - - - MES COMPETENCES - - - - - - - - - - */

.mesCompetences {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: black;
  background-color: white;
}

.mesCo {
  padding-bottom: 5vh;
  padding-left: 80px;
}

.competencesFleche {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mesCompetencesTexte {
  padding: 50px 0px;
}

.cadreCompetences {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blocCompetence {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 30px 50px;
  z-index: 0;
  /* transition: 0.2s; */
}

.blocCompetence h4 {
  text-align: center;
}

/* .blocCompetence:hover {
  color: black;
  transition: 0.2s;
} */

/* - - - - - - - - - - MES REALISATIONS - - - - - - - - - - */

.mesRealisations {
  min-height: 100vh;
  padding: 60px 80px;
}

.blocReal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 50px 1fr 50px;
}

.real {
  display: flex;
  margin: 20px;
}

.textReal {
  z-index: -1;
  margin: 20px;
}

.infoReal {
  display: flex;
  justify-content: center;
}

.imglang {
  height: 20px;
}

#real1 {
  background-image: url(../tout/images/realisations/spotifeur.png);
}

#real2 {
  background-image: url(../tout/images/realisations/botanicia.png);
}

#real3 {
  background-image: url(../tout/images/realisations/site_foot.PNG);
}

#real4 {
  background-image: url(../tout/images/realisations/pickomino.png);
}

#real5 {
  background-image: url(../tout/images/realisations/puissance4.jpg);
}

#real6 {
  background-image: url(../tout/images/realisations/projet_particule.gif);
}

#real1, #real2, #real3,
#real4, #real5, #real6,
#real7 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 32vh;
  border: solid 1px black;
}

#real1:hover, #real2:hover, #real3:hover,
#real4:hover, #real5:hover, #real6:hover,
#real7:hover, #real8:hover, #real9:hover {
  background: #ffffff00;
}

/* - - - - - - - - - - PROJET PROFESSIONNEL - - - - - - - - - - */

.projetProfessionnel {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../tout/images/fonds/fondProjetPro.jpg);
  opacity: 0.8;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.projetProfessionnel::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #1d192c;
  opacity: 0.8;
  z-index: -1;
}

.projetProfessionnelTexte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

.projetPro {
  width: 80vw;
  margin: 30px 80px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* - - - - - - - - - - PROJET PERSONNEL - - - - - - - - - - */

.projetPersonnel {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../tout/images/fonds/fondProjetPerso.jpg);
  opacity: 0.8;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.projetPersonnel::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #1d192c;
  opacity: 0.8;
  z-index: -1;
}

.projetPersonnelTexte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

.projetPerso {
  width: 80vw;
  margin: 30px 80px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* - - - - - - - - - - CONTACTS - - - - - - - - - - */

.titreContacts {
  padding-left: 80px;
}

.contacts {
  padding: 50px 00px;
}

.contacts a {
  color: black;
}

.cadreContacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blocContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 30px;
}